.heading{
    text-align: center;
    background-color: chocolate;
    color:white;
}

.heading1{
    text-align: center;
    background-color:brown;
    color:white;
}
.para{
    text-align: justify;
    background-color: yellowgreen;
    color:white;
}